@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Oranienbaum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");
* {
  margin: 0%;
  padding: 0%;
}

.h11 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 4%;
}

.h22 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 150%;
  color: #333333;
  margin-bottom: 4%;
}

.h33 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 150%;
  color: #FFFFFF;
  margin-bottom: 12%;
}

.h44 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 150%;
  color: #333333;
  margin-bottom: 3%;
}

.h55 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 150%;
  color: #FFFFFF;
  margin-bottom: 4%;
}

.h66 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: #FFFFFF;
  margin-bottom: 10%;
}

.h77 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 150%;
  color: #FFFFFF;
  margin-bottom: 2%;
}

.h88 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #404256;
}

.h99 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #C0C2D7;
  margin-top: 2%;
}

.pp {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  text-align: center;
}

.p1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #333333;
}

.p2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #727488;
}

.p3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 150%;
  color: #333333;
}

.p4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #F4683F;
}

.p5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #000000;
  margin-bottom: 2%;
  margin-top: 3%;
}

.p6 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 130%;
  color: #333333;
}

.p7 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: #000000;
  margin-bottom: 17%;
  margin-top: 3%;
}

.p8 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #444444;
}

.verh {
  background: url(../img/verh.png) center/cover no-repeat;
  display: flex;
  flex-direction: column;
  padding: 49px;
  margin-bottom: 4%;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bl1 {
  width: 25%;
}

.bl-2 {
  display: flex;
  flex-direction: row;
  width: 40%;
}

.poi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 49%;
}

.imm {
  margin-right: 3%;
}

.tl {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.im {
  margin-right: 3%;
}

.cont-verh {
  display: flex;
  flex-direction: row;
  width: 82%;
  margin: 0 auto;
  justify-content: space-between;
}

.levo {
  display: flex;
  flex-direction: column;
  width: 55%;
  padding-top: 10%;
}

.vtxt {
  width: 80%;
}

.slaider1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 11%;
}

.kart1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.kart-verh {
  margin-right: 40px;
}

.kart-img1 {
  margin-bottom: 3%;
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10%;
}

.ico {
  margin-right: 22px;
}

.ico:last-child {
  margin-right: 0px;
}

.pravo {
  display: flex;
  flex-direction: column;
  width: 39%;
  justify-content: center;
  align-items: center;
}

.okno {
  margin: 0 auto;
  border-radius: 15px;
  background-color: white;
  padding: 48px 40px;
  width: 43%;
}

.formm {
  margin-bottom: 2%;
}

#input1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #333333;
  background: #FFFFFF;
  border: 1px solid #C0C2D7;
  border-radius: 200px;
  padding: 13px 20px;
  margin-bottom: 6%;
  width: 80%;
}

.container {
  width: 78%;
  margin: 0 auto;
}

.about {
  margin-bottom: 7%;
}

.contt {
  width: 95%;
  margin: 0 auto;
}

.kart2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.kart-about {
  width: 19%;
}

.catalog {
  margin-bottom: 7%;
}

.slaider2 {
  display: flex;
  flex-direction: row;
  margin-bottom: 6%;
}

.left-arrow {
  display: flex;
  margin-right: 1%;
}

.right-arrow {
  display: flex;
}

.butt {
  display: flex;
  justify-content: center;
}

.but {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  background: #F4683F;
  border-radius: 200px;
  border-color: #F4683F;
  padding: 10px 50px;
}

.ic {
  display: flex;
  flex-direction: row;
}

.karttt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
}

.blok1 {
  display: flex;
  flex-direction: row;
}

.kart-img3 {
  width: 95%;
  margin-bottom: 5%;
}

.iiimg {
  margin-right: 4%;
}

.cena {
  display: flex;
  flex-direction: row;
  width: 85%;
  justify-content: space-between;
  align-items: center;
}

.with-icon {
  margin-bottom: 6%;
}

.blok1 {
  width: 100%;
  height: 100%;
}

.slider-dots {
  text-align: center;
  margin: 1rem 0;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #a0a1a9;
  border-radius: 50%;
  display: inline-block;
}

.dot.dot-active,
.dot:hover {
  background-color: #F4683F;
}

.modalo__content {
  width: 80%;
  margin: 100px auto;
  padding: 50px 50px 10px 50px;
  background-color: #fff;
  border-radius: 15px;
  /* Для анимации */
  position: relative;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.info {
  padding: 10px 0;
}

.info-title {
  text-align: center;
}

.info-header {
  display: flex;
  justify-content: center;
  margin: 25px 0;
  flex-wrap: wrap;
}

.info-header-tab {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: #000000;
  margin-bottom: 2%;
  margin-top: 3%;
  text-align: center;
  margin-right: 15px;
  padding: 10px;
  cursor: pointer;
}

.info-header-tab:nth-last-child {
  margin: 0;
}

.info-tabcontent {
  padding: 25px;
  margin: 25px auto;
  width: 90%;
  background: #ffffff;
  border: 0.5px solid #e3e3e3;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.info .hide {
  display: none;
}

.info .show {
  display: block;
}

.active {
  background-color: #F4683F;
}

.tab-flexbox {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.FAQ {
  margin-bottom: 10%;
}

.que-img1 {
  display: none;
}

.p5 {
  display: none;
}

.que {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2%;
  padding-bottom: 2%;
  cursor: pointer;
}

.que-txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.que-img1, .que-img {
  margin-right: 27px;
}

.que.active .p5 {
  display: block;
  animation: fade 0.4s ease-in-out;
}

.que.active .que-img {
  display: none;
}

.que.active .que-img1 {
  display: block;
}

.rent {
  background: url(../img/footer.png) center/cover no-repeat;
  display: flex;
  flex-direction: column;
  padding-top: 233px;
  padding-bottom: 294px;
}

.txt-rent {
  display: flex;
  flex-direction: column;
  padding-left: 17%;
  margin-top: 10%;
  width: 25%;
}

/* Модальное окно */
#modal-btn, #modall-btn, #modalo-btn {
  cursor: pointer;
  display: block;
}

.modal, .modal-next, .modal-cat {
  /*  */
  display: none;
  /*  */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal_active, .modal-next_active, .modal-cat_active {
  display: block;
}

.modal__content {
  width: 27%;
  max-width: 700px;
  margin: 100px auto;
  padding: 35px;
  background-color: #fff;
  border-radius: 15px;
  /* Для анимации */
  position: relative;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-close, .modal-closee, .modal-closoo, .closeBtNO, .modal-closeBtn, .modal-closeBtnn, .modal-closeBtnnn {
  font-size: 40px;
  color: #777777;
  cursor: pointer;
  float: right;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.bl-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 47px 27px;
}

.lala {
  display: flex;
  justify-content: center;
  align-items: center;
}

#input2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #333333;
  background: #FFFFFF;
  border: 1px solid #C0C2D7;
  border-radius: 250px;
  padding: 15px 30px;
  margin-bottom: 6%;
  width: 90%;
}

.footer {
  background-color: #161723;
  padding: 4% 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.log {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
}

.niz-txt {
  display: flex;
  flex-direction: column;
}

.catt {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.cotr {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.tel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tl1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1300px) {
  .h11 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 54px;
    line-height: 130%;
    color: #FFFFFF;
  }
}
@media (max-width: 600px) {
  .with-icon {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */